{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}

<!-- <div class = "header">
    <h1>My shopping list</h1> 
    <form action="/addListItem/", method='post'>{% csrf_token %}
        <input type="text" name="content">
        <input type='submit' value='Add to list'>
    </form>
</div> -->


{% if user.is_authenticated %}
    <p>Welcome, {{ user.first_name}}</p>
{% endif %}

<div class = "header">
    <h1>My shopping list</h1> 
    <form action="/items/", method='post'>
        {%csrf_token%}
        {{ form }}
        <!-- <input type="text" name="content"> -->
        <input type='submit' value='Add to list'>
    </form>
</div>

<!-- <ul>
    {% for i in total_items %} 
    <li> {{i.item}} </li>
        <form action="/deleteListItem/{{i.id}}/" method = "post">{% csrf_token %}
            <input type="submit" value="x">
        </form> 
    {% endfor %} 
</ul>  -->
<ul>
{% if total_items %}
    {% for shopping_item in total_items %}
        {{ shopping_item.item }} <br/>
        <form action="/deleteListItem/{{shopping_item.id}}/" method = "post">{% csrf_token %}
            <input type="submit" value="x">
        </form> 
    {% endfor %}
{% endif %}
</ul>


<!-- delete all items -->

<form action="/deleteAll/", method='post'>{% csrf_token %}
    <input type='submit' id = 'clear-button' value='Clear List'>
</form>
{% endblock content %}
