body {
    /* margin: 10px auto; */
    /* min-width: 250px;
    max-width: 100%;
    background-color: rgb(227, 250, 252); */
    margin:0;
    /*background-color:var(--first-color);*/
    background-image: linear-gradient(rgb(197, 231, 231), rgb(67, 194, 173), rgb(43, 18, 185));
    padding-top:6rem;
    display:grid;
    justify-items:left;
}


.banner{
    width:100%;
    display:flex;
    flex-flow:wrap;
    align-items:center;
    list-style-type:none;
    background-color:rgba(86, 58, 241,.3);
    position:fixed;
    top:0;
    color:var(--third-color);
    box-shadow:var(--shadow);
}

a:hover{
    Color:rgba(87, 238, 119, 0.3);
}

.banner li {
    display:inline;
    margin: 1rem;
}



/* providing the box around the add button */
.header{
    /* background-color: rgb(19, 46, 167);
    padding: 10px 10px; */
    color: rgb(252, 24, 73);
    width: 30%;
    length: 30%;
    text-align: center;
    size: 2px;
    padding-left: 5rem;
    display: grid
}
.welcome {
    text-align: left;
    padding-left: 3rem;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 15px 40px;
    /* removes bullet points */
    list-style-type: none;
    background: rgb(136, 231, 219);
    font-size: 18px;
    transition: 0.2s;
}


#ul:hover {
    background-color: blue;
    color:white;
} 
/* adding background color to clear all button */
#clear-button {
    width: 30%;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    margin: 40px 35%;
    background-color: rgb(14, 30, 175);
    color: white;
}
#clear-button:hover {
    background-color: rgb(63, 175, 179);
    color:white;
} 

#submit-button{
    width: 30%;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    margin: 40px 35%;
    background-color: rgb(14, 30, 175);
    color: white;
}


.list {
    display:flex;
}
.list-item {
    
}